<form [formGroup]="fromGrup" (ngSubmit)="onFormSubmit()">
  <div
    style="width:25%; height:50vh; display:flex;justify-content:center;align-items:center; flex-direction:column; margin:auto"
  >
    <h1>Login</h1>
    <div
      style="width:100%;padding: 5px;
 height:50px;"
    >
      <input
        id="username"
        type="text"
        class="formFild"
        placeholder="username"
        formControlName="username"
      />
    </div>
    <div
      style="width:100%;padding: 5px;
      height:50px;"
    >
      <input
        id="password"
        type="password"
        class="formFild"
        placeholder="password"
        formControlName="password"
      />
    </div>
    <div
      style="width:100%;padding: 5px;
 height:50px;margin:5px auto"
    >
      <button [disabled]="!fromGrup.valid" id="signin" class="formFild">
        Login
      </button>
    </div>
  </div>
</form>
