<div
  style="width:50%; height:50vh; display:flex;justify-content:center;align-items:center; flex-direction:column; margin:auto"
>
  <h1>Register</h1>
  <div
    style="width:100%;padding: 5px;
 height:50px;"
  >
    <input id="username" type="text" class="formFild" placeholder="username" />
  </div>
  <div
    style="width:100%;padding: 5px;
height:50px;"
  >
    <input id="email" type="email" class="formFild" placeholder="email id" />
  </div>
  <div
    style="width:100%;padding: 5px;
 height:50px;"
  >
    <input
      id="password"
      type="password"
      class="formFild"
      placeholder="password"
    />
  </div>
  <div
    style="width:100%;padding: 5px;
 height:50px;margin:5px auto"
  >
    <button id="signin" class="formFild">Submit</button>
  </div>
</div>
